<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Chat App with Socket.io</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="xuly.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
 
      

        <input type="text" id="chat">
        <input type="button" id="btnChat" value="Send Message">

        <label for="cars">Choose a language programing:</label>

        <select name="language programing" id="language">
        <option value="PHP">PHP</option>
        <option value="NodeJS">NodeJS</option>
        <option value="Python">Python</option>
        <option value="Ruby">Ruby</option>
        <option value="Java">Java</option>
        <option value="Kotlin">Kotlin</option>
        <option value="JavaScript">JavaScript</option>
        <option value="VueJS">VueJS</option>
        <option value="ReactJS">ReactJS</option>
        <option value="AngularJS">AngularJS</option>
        <option value="Reat-Native">React-Native</option>
        </select>
      
        
        <div id="left">
            <br>
            <br>
            <h2>Room Active: </h2>
            <br><div id="dsroom"><br>

            </div>
        </div>
        <div id="roomht" >
            <h4 >My Room:</h4>
            <br><div id="myroom"><br>
        </div>
        
        <div id="right">
            
        </div>
    </body>
</html> -->

  
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="style.css" />
		<title>ChatCord App</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> ChatCord</h1>
			</header>
			<main class="join-main">
				<form action="chat">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<select name="room" id="room">
							<option value="JavaScript">JavaScript</option>
							<option value="Python">Python</option>
							<option value="PHP">PHP</option>
							<option value="C#">C#</option>
							<option value="Ruby">Ruby</option>
							<option value="Java">Java</option>
						</select>
					</div>
					<button type="submit" class="btn">Join Chat</button>
				</form>
			</main>
		</div>
	</body>
</html>